body {
	font-family: "Arial", sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
}

.container {
	width: 50%;
	margin: 50px auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="button"] {
	width: 100%;
	padding: 10px;
	margin: 5px 0;
	box-sizing: border-box;
}

input[type="button"] {
	background-color: #4caf50;
	color: white;
	cursor: pointer;
}

table {
	width: 100%;
	margin-top: 20px;
	border-collapse: collapse;
}

th,
td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

th {
	background-color: #4caf50;
	color: white;
}
button {
	background-color: #ff4d4d;
	color: #fff;
	border: none;
	padding: 8px 12px;
	cursor: pointer;
	border-radius: 4px;
}

button:hover {
	background-color: #e60000;
}
